---
# Profanity Filter
# A profanity best filter. A utility that controls swearing and hate speech.
# It is licensed on LGPL-2.0 LICENSE
# Copyright (c) by @xqwtxon

# Please use & instead of using ยง, you can use {COLOR} if you want.

# Profanity Type
# Options: "block","hide"
# Check https://github.com/xqwtxon/HiveProfanityFilter/wiki/Profanity-Types
# for more information about profanity types.
type: "block"

# Characters are replaced for obscene words
# Example: hello -> ####
replacementCharacter: "#"
# If true, all unicode characters will be removed from the player's message
# # This should only be enabled if English is the primary language used by the players on your server.
removeUnicode: false

# If "block" has selected, you can add your own message right here.
block-message: "&cHey, Watch your Language!"

# Punishment Messages Logging
# Its useful to track players punishments.
block-warning-message: "&e{player_name} &cwas blocked message contains profanity message."
hide-warning-message: "&e{player_name} &cwas hidden message contains profanity message."
# Moderation Actions Logging
ban-warning-message: "&e{player_name} &cwas banned due the maximum profanity violation."
kick-warning-message: "&e{player_name} &cwas kicked due the maximum profanity violation."

# Plugin Languages
# You can make your own plugin language by option: "custom"
# and make file custom.yml in ~/plugin_data/ProfanityFilter/languages
# You can make your own pull request for more languages.
# If you create a pull request, you need to comply with international standard ISO 639-2 language code
# List of ISO 639-2 language codes: https://www.loc.gov/standards/iso639-2/php/code_list.php
# Available languages: eng (English), vie (Vietnamese), deu (German).
lang: eng

# Max Violation
# Player Violation Punishment
# If player reached max violations. It will be?
# Options: kick,ban
punishment-type: kick
# If player reached max violations will be kicked.
# You can set max player violations here.
# When player is kicked. The player violations will reset.
max-violations: 5
# Kick Violation Message
# However it cool if theres a message will leaved if player
# violates.
kick-message: You have been {type} for reason 'Profanity'.
# If punisment-type is ban. Here you can type, what duration do you want to apply them.
# Example: 1d 2hr 5s (1 day, 2 hours, 5 seconds)
ban-duration: "7d"

# Custom Permissions!
# This is working for plugins that manage permissions.
# Bypass Player by using Permission
bypass-permission: profanityfilter.bypass
# Command Operator Permission
command-permission: profanityfilter.command
# This is sets to all as operator only.

# Default Profanity Choise
# You can choose a custom profanity or self provided Profanity List.
# choose 'custom' if you want to add your own custom profanity words or choose 'provided' to use default plugin provided profanities.
profanity: custom

# Remove Unicode Messages
# It possible to bypass profanity from unicode characters.
remove-unicode: false

# Configuration Version
# Please dont change this, change this IF YOU KNOW WHAT ARE YOU DOING!
config-version: 0.0.6
...
